{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    <footer class="footer-minimal">
        {% block layout_footer_bottom %}
            <div class="footer-bottom-custom-block">
                <p class="footer-main-text">* Alle Preise inkl. MwSt. MwSt. zzgl. Versandkosten und ggf. Nachnahmegebühren, wenn nicht anders angegeben.</p>
                <p class="footer-second-text">Realisiert mit Shopware</p>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
