{% block sw_cms_block_image_text_row_preview %}
<div class="sw-cms-preview-image-text-row-custom">
    <div class="sw-cms-preview-image-text-row__left my-section1">
        <div class="sw-cms-preview-image-text-row__image">
            <img
                :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="image-text-block">
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-row__center my-section2">
        <div class="sw-cms-preview-image-text-row__image">
            <img
                :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="image-text-block">
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>

    <div class="sw-cms-preview-image-text-row__right my-section3">
        <div class="sw-cms-preview-image-text-row__image">
            <img
                :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                alt=""
            >
        </div>
        <div class="image-text-block">
            <p>Lorem ipsum dolor sit amet elitr.</p>
        </div>
    </div>
</div>
{% endblock %}
